/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

:root {
    --deep-sapphire: #0d2d53;
    --ocean-teal: #4db8ac;
    --steel-blue: #74a6c2;
    --light-slate: #a7b8c8;
    --ghost-white: #f0f4f8;
    --dark-charcoal: #374151;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

main {
    padding: 2rem;
}

#place-details,
#reviews-list li {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#reviews-list li {
    list-style-type: none;
}